body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkred;
    border: 2px;
    border-style: groove;
    border-color: gold;
    padding: 5px;
    margin: 5px;
    min-height: 100%;
}

html {
    height: 100%;
    margin: 0;
}

p {
    background-color: burlywood;
    margin-left: 10%;
    margin-right: 10%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2,
h3,
h4 {
    background-color: burlywood;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

.recipe {
    background-color: burlywood;
    color: black;
    text-align: center;
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 5px;
}

.direction {
    background-color: burlywood;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

#header {
    background-color: burlywood;
    font-size: 40px;
    text-align: center;
    margin-bottom: 5px;
}

#home {
    display: block;
    background-color: burlywood;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
}